<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>江西概要</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>江西概览</legend>
</fieldset>
<ul class="layui-timeline">
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">地貌</h3>
            <p>
                江西常态地貌类型以山地、丘陵为主，山地占全省面积的36％，丘陵占42％，平原、水面占22％。主要山脉多分布于省境边陲，东北部有怀玉山，是本省铜储藏量最多的地区；东部有武夷山；南部有大庚岭和九连山，有"钨都"的美称；西部有罗霄山脉；西北部有幕阜山和九岭山。

            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">气候</h3>
            <p>
                西省年平均气温18℃左右。赣东北、赣西北和长江沿岸年均气温略低，约在 16℃到 27℃之间；滨湖、赣江中下游、抚河、袁水区域和赣西南山区约在 17℃到 18℃之间；抚州、吉安地区南部和信江中游约在 18℃到 19℃之间；赣南盆地气温最高，约为 19℃到 20℃之间。 江西多雨。年均降水量 1341 毫米到 1940 毫米,一般表现为南多北少、东多西少、山区多盆地少。武夷山、怀玉山和九岭山一带年均降水量多达 1800 毫米到 2000 毫米，长江沿岸到鄱阳湖以北以及吉泰盆地年均降水量则约为 1350 毫米到 1400 毫米，其他地区多在 1500 毫米到 1700 毫米之间。全年降水季节差别很大。
            </p>

        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">生物资源</h3>
            <p>
                江西省植物资源十分丰富，种子植物有4000余种。蕨类植物约470种，苔藓植物有100种以上。在低等植物中，就大型真菌而言，有标率为依据的计300余种，实际大约可达500种左右。东北是整个欧亚大陆温带地区中植物种类最丰富的地方，但种子植物仅为3000种左右；而江西省仅木本植物就在2000种以上，其中乔木有400种以上。在江西省分布着许多具有原始性状的古老植物，有些是残存的"活化石"植物，如银杏等。植物系统演化中各个阶段的代表植物，本省均有分布，并和世界各地植物有相似的科属。 动物资源： 江西水域面积广阔，山地峻峭延绵，植被覆盖率较高，生态环境较为优越，特别是近年来环保措施的不断加强，丰富的动物资源日益得到有效保护。历年调查表明，全省现有脊椎动物 600余种。其中鱼类 170 余种，约占全国的 21.4%（淡水鱼）；两栖类 40 余种，约占全国的 20.4% 强；爬行类 70 余种，约占全国的 23.5%；鸟类 270 余种，约占全国的 23.2% 强；兽类 50 多种，约占全国的 13.3%。鱼类和鸟类种类较多，经济价值较大，成为开发利用和资源保护的重点。鄱阳湖是闻名的世界性冬侯鸟良好越冬场所。全省现有脊椎动物611种，其中鱼类171种，两栖类40种，爬行类74种，鸟类约271种，兽类55种。
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">
                森林资源
            </h3>
            <p>
                江西全省森林覆盖率已达60.05％，活林蓄积量3.54亿立方米，毛竹蓄积量10亿根，均位于全国前列。全省林地起源多属天然次生，针叶林面积比重大，松木、马尾松是全省主要树种，所产杉木历史上通称"西木"。油茶、油桐、乌柏均为江西省经济林主要树种，分布遍全省。
            </p>
        </div>
    </li>

    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">
                水资源
            </h3>
            <p>
                江西全省有大小河流2400多条，其中常年有水的160多条，总长约18400公里。赣江、抚河、信江、修河和饶河为全省五大江河。江西全省水资源总量为1034亿立方米，人均拥有水量和耕地亩均占有水量均高于全国平均水平。丰富的水资源是江西发展工农业生产的有利条件。
            </p>
        </div>
    </li>


    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">
                矿产资源
            </h3>
            <p>
                江西矿产资源极为丰富，在目前已知的150多种矿产中，江西就有140多种。其中已探明储量的有89种，居全国前五位的有33种。黑色金属有铁、锰、钛、钒等四种；有色和贵金属有铜、铅、锌、金、银等13种，稀有、稀土有铌、钽等29种，在全国占有明显的优势，江西已建成亚洲最大的铜矿和全国最大的铜冶炼基地。
            </p>
        </div>
    </li>

    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">
                旅游资源
            </h3>
            <p>
                江西山清水碧，景色诱人，名胜古迹遍布全省各地。主要旅游景区：庐山、井冈山、龙虎山、三清山、鄱阳湖区、南昌市和景德镇市。其中，庐山已被联合国作为"世界文化景观"列入世界遗产名录。 庐山、井冈山、三清山的名山峻岭之秀；圭峰、龙宫的险岩幽洞之奇，鄱湖、赣水的湖光川景之美，龙虎、青原、东林的宗教庄严祖庭，滕王阁、八境台的千古名楼，临川、九江的名人故里，都是著名的旅游胜景。井冈山、八一起义纪念馆、红都瑞金等更是独具特色的革命胜迹。现有国家级重点文件保护单位１１处，省级旅景区、景点２４０６处。由南昌、庐山、九江、鄱阳湖、龙虎山等景点组成的赣北三角旅游区是全国１４条主要国际旅游线路之一。江西山水美，笑迎天下客。
            </p>
        </div>
    </li>

    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">
                民族分布及人口比例
            </h3>
            <p>
                江西共有38 个民族。其中汉族人口最多，占总人口的 99％以上。 少数民族中人口较多的有回族、畲族、壮族、满族、苗族、瑶族、蒙古族、侗族、朝鲜族、土家族、布依族等， 其中人口最多的为回族和畲族；还有白族、彝族、黎族、高山族、藏族、水族、傣族、毛难族、纳西族、锡伯族、土族、哈尼族、羌族、仫佬族、维吾尔族、傈僳族、达斡尔族、仡佬族、裕固族、京族、独龙族、拉祜族、景颇族、布朗族、俄罗斯族和基诺族等。少数民族中畲族聚居，主要分布在铅山太源畲族乡和贵溪樟坪畲族乡等地以及永丰、吉安、兴国、武宁、德安、资溪、宜黄、乐安等市县的 30 多个畲族乡村；瑶族部分聚居，如全南瑶山、喇叭山等；其他各少数民族均为散居性质。人口密度平均每平方公里 257 人。
            </p>
        </div>
    </li>

    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">
                国内生产总值
            </h3>
            <p>
                　2004年全省实现生产总值3495.94亿元，按可比价格计算，比上年增长13.2％，增幅同比加快0.2个百分点，是近11年来的最高水平。
            </p>
        </div>
    </li>
</ul>

<script src="/layui/layui.js" charset="utf-8"></script>

</body>
</html>