<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xie.teacher_evalu.persistence.MaterialMapper">
    <select id="getAllKindsOfResources" parameterType="int" resultType="LocalRecords">
        select DISTINCT pdfName from
        local_records WHERE category = #{arg0}
    </select>

    <select id="getResourcesContent" resultType="LocalRecords">
        select * from local_records
        where pdfName = #{arg0} and category = #{arg1} group by
        no asc

    </select>
    <select id="getCollection"  resultType="Collections">
        select * from collection where category = #{arg0}

    </select>
    <select id="getAllCollections"  resultType="Collections">
        select * from collection

    </select>
    <insert id="addCollections">
        insert into collection(title,isbn,principal,publisher,date,category)
        values (#{arg0},#{arg1},#{arg2},#{arg3},#{arg4},#{arg5})
    </insert>

    <insert id="insertResources" >
        insert into local_records(pdfName,name,no,url,category)
        values(#{arg3},#{arg1},#{arg2},#{arg4},#{arg0})
    </insert>
    <delete id="delCollection" parameterType="string">
        delete  from collection where ISBN = #{arg0}
    </delete>

    <update id="updateCollection" parameterType="string">

        update collection
        <if test="arg1 == 'title'">
            set title = #{arg2} where isbn = #{arg0}
        </if>
        <if test="arg1 == 'principal'">
            set principal = #{arg2} where isbn = #{arg0}
        </if>
        <if test="arg1 == 'publisher'">
            set publisher = #{arg2} where isbn = #{arg0}
        </if>
        <if test="arg1 == 'date'">
            set date = #{arg2} where isbn = #{arg0}
        </if>
        <if test="arg1 == 'category'">
            set category = #{arg2} where isbn = #{arg0}
        </if>

    </update>


</mapper>