<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>江西省方志馆</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="/css/login.css">
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login1.css">
</head>
<body>
<!-- particles.js container -->
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
</div>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>第三方按钮注册</h1>
            <div class="social-container"><a href="#" class="social">
                <ion-icon name="logo-facebook"></ion-icon>
            </a> <a href="#" class="social">
                <ion-icon name="logo-googleplus"></ion-icon>
            </a> <a href="#" class="social">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a></div>
            <span>或输入你想使用的用户名注册</span>
            <input type="text" placeholder="用户名" id="regUserId"><span id="userExist"></span>
            <input type="password" placeholder="密码" id="regPassword">
            <input type="password" placeholder="确认密码" id="comPassword">
            <input type="button" id="regBtn" value="注册"/>
        </form>
    </div>
<div style="text-align: center">
    <h1><font size="10" color="yellow">江西省方志馆</font></h1>
    <h4><font size="6" color="yellow"></font></h4>

</div>
    <div class="form-container sign-in-container">
        <a href="/account/mainPage">进入</a>
    </div>




    <!--<div class="form-container sign-in-container">
        <form action="/account/login" method="post" id="loginForm">

            &lt;!&ndash;<h1>第三方登录</h1>
            <div class="social-container"><a href="#" class="social">
                <ion-icon name="logo-facebook"></ion-icon>
            </a> <a href="#" class="social">
                <ion-icon name="logo-googleplus"></ion-icon>
            </a> <a href="#" class="social">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a></div>
            &ndash;&gt;
            <h1><font size="15" color="yellow">江苏省方志馆</font></h1>
            &lt;!&ndash;<span th:text="${message}"></span>
            <input type="text" placeholder="用户名" name="username">
            <input type="password" placeholder="密码"  name="password">
&ndash;&gt;
&lt;!&ndash;            <input type="submit" value="登录" id=""/>&ndash;&gt;
            <div style="text-align: center">
            <a href="/account/admin">管理员端</a>
            </div>
        </form>
    </div>-->
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>欢迎回来</h1>
                <p>与我们保持联系请登录您的个人信息</p>
                <button class="ghost" id="signIn">登录</button>
            </div>
            <!--<div class="overlay-panel overlay-right">
                <h1>欢迎光临</h1>
                <p>输入您的个人资料，并与我们一起开始旅程</p>
                <button class="ghost" id="signUp">注册</button>
            </div>-->
        </div>
    </div>
</div>


<!-- scripts -->
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>
<script src="/js/script.js"></script>
<script src="/js/account.js" type="module"></script>
<script src="/js/jquery.min.js"></script>
</body>
</html>
<style>

    a {

        color: #53e3a6;
    }
    h1:hover{
        color: yellow;
        font-size: 120%;
    }
    a:hover {
        color: yellow;
        font-size: 120%;

    }

    a:active {
        color: blue;
    }
</style>


